@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Iceberg&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.clear {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: .01em;
}

.container-fluid {
    padding: 0;
}

header {
    width: 100%;
}

.close-btn {
    display: flex;
    align-items: center;
}

.navigation-links {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0E5231;
    z-index: 99;
    top: 0;
    right: 0;
}

.navigation-links .nav-list {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0;
}

.navigation-links .nav-list li {
    margin: 5px 0;
}

.nav-list .nav-item a {
    text-decoration: none;
    color: #F9D802;
    font-size: 28px;
    font-weight: 400;
}

.nav-list .nav-item a:active,
.nav-list .nav-item a:hover {
    letter-spacing: 1px;
    color: #fff;
}

/* title bar styling started */
.title-bar {
    /* position: absolute; */
    display: flex;
    width: 100%;
    max-height:80px;
    background-color: #102B1E;
    padding: 20px 50px;
    z-index: 1;
}

.login-register-title-bar .login,
.login-register-title-bar .register {
    padding: 8px 20px;
    background-color: #FFDD02;
    border-radius: 8px;
    color: #0E6C34;
    font-weight: 500;
}

.login-register-title-bar .login:hover,
.login-register-title-bar .register:hover {
    background-color: #0E6C34;
    color: #FFDD02;
    font-size: 18px;
}

.search-box-background {
    background-color: #b4b2b2;
    padding: 10px 15px;
    border-radius: 4px;
}

.search-box-background .search-box {
    padding: 4px 6px;
    border-radius: 5px;
}

/* navigation bar styling started */
.navigation-bar {
    /* position: absolute; */
    /* top: 80px; */
    width: 100%;
    background-color: #FFDD02;
    padding: 0 50px;
    /* z-index: 1; */
}

.hero {
    height: 100vh;
}

.image-icon .ausway-logo {
    width: 100px;
    height: 100px;
}

.hamburg-icon-div {
    display: none;
}

.nav-item .nav-link {
    color: #0E6C34;
    font-weight: 500;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    font-size: 20px;
    color: #102B1E;
}

.hero-video {
    /* position: relative; */
    height: 100%;
    overflow: hidden;
}

.hero-video video {
    object-fit: cover;
    width: 100%;
    /* position: absolute; */
    /* top: 100px; */
    height: 100%;
}

.about-us-section {
    padding: 50px 100px;
    background: linear-gradient(141deg, #49AB30 0%, rgba(73, 171, 48, 0.45) 75.08%, rgba(73, 171, 48, 0.00) 100%);
}

.coaching-section,
.our-coaches-section {
    padding: 50px 100px;
}

.section-title {
    color: #0E6C34;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px; 
}

.section-sub-title {
    color: #FFDD02;
    font-size: 60px;
    font-weight: 500;
}

.section-short-description {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    max-width: 500px;
}

.read-more-btn {
    border-radius: 50px;
    background: #F9D802;
    color: #0E6C34;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 20px;
    cursor: pointer;
    text-decoration: none;
    margin: auto 0;
}

.read-more-btn:hover {
    /* background: #0E6C34;
    color: #F9D802; */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.about-us-img {
    display: flex;
    align-items: center;
}

.about-us-section-img img {
    width: 500px;
}

.coaching-card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coaching-card-grid .coaching-card {
    height: auto;
    border: 2px solid #0E6C34;
    box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%;
    margin: 0 0 20px 0;
    padding-bottom: 1.25rem;
}

.coaching-card .card-title {
    color: #0E6C34;
    font-size: 30px;
    font-weight: 600;
}

.coaching-card .card-text {
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.coaching-card .card-btn {
    width: 80%;
    background-color: #0E6C34;
    border-radius: 50px;
    text-align: center;
    color: #FFDD02;
    margin: 0 auto;
}

.coaching-card img {
    height: 280px;
    object-fit: cover;
}

.our-coaches-section {
    background: #6BDB4E;
}

.coach-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.coach-grid .coach-card,
.coaches-grid .coach-card-2 {
    height: auto;
    border: none;
    box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%;
    margin: 0 0 10px 0;
    padding-bottom: 1.25rem;
}

.coach-card .card-title,
.coach-card-2 .card-title {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.coach-card .card-text,
.coach-card-2 .card-text {
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.coach-card .card-btn,
.coach-card-2 .card-btn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E6C34;
    border-radius: 50px;
    color: #FFDD02;
    margin: 0 auto;
    line-height: 30px;
}

.coach-card img {
    height: 280px;
    object-fit: cover;
}

/* coaching page */

ul.breadcrumb {
    padding: 0;
    list-style-type: none;
    background-color: transparent;
    margin-bottom: 0;
    justify-content: center;
}
ul.breadcrumb li {
    display: inline;
    color: #000;
    font-size: 25px;
}
ul.breadcrumb li+li::before {
    padding: 8px;
    color: #000;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0E6C34;
    text-decoration: none;
}
.coaching-section-title {
    font-size: 50px;
    font-weight: bold;
    color: #0E6C34;
}
/* .coaching-section-content {
    width: 80%;
} */
.coaching-section-content p {
    font-size: 25px;
    text-align: justify;
    /* line-height: 30px; */
}
.inner-coaching-section,
.inner-coaches-section {
    padding: 40px 50px;
}

/* our coaches page */
.inner-coaches-section .section-title {
    text-align: center;
}
.coaches-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.coach-card-2 img {
    height: 250px;
    object-fit: cover;
}

/* coach detail page */
.contact-detail-div {
    display: flex;
}
.contact-detail-div .label-div {
    padding-right: 20px;
    font-weight: 700;
}
.contact-detail-div .label-div,
.contact-detail-div .data-div {
    font-size: 18px;
}
.social-media-contacts {
    display: flex;
}
.social-media-contacts a:not(:last-child) {
    padding-right: 20px;
}
.social-media-contacts a img {
    width: 35px;
    height: 35px;
}
.heading-content .coach-name-div {
    font-weight: 700;
    font-size: 50px;
    color: #0E6C34;
}
.heading-content .coach-level {
    font-size: 30px;
    font-weight: 700;
}
.coach-description-div p {
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
}

.footer {
    width: 100%;
    display: block;
    background: #0E6C34;
    color: #F9D802;
}

.footer-top {    
    padding: 50px 50px;
}

.footer-first-col {
    width: 20%;
}

.footer-second-col {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

ul.footer-links {
    list-style: none;
}

.footer-links li {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 30px;
    color: #F9D802;
}

.footer-third-col {
    width: 25%;
}

.primary-btn,
.primary-btn-2 {
    background: #17442E;
    color: #F9D802;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.primary-btn-2 {
    background: #0E6C34 !important;
}
.primary-btn:hover {
    background: #fff;
    border: 1px solid #0E6C34;
    color: #0E6C34;
}

.login-btn-footer,
.register-btn-footer {
    background: #17442E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 8px 0;
}

.login-btn-footer a,
.register-btn-footer a {
    font-size: 22px;
    color: #F9D802;
}

.login-btn-footer:hover,
.register-btn-footer:hover {
    /* background: #0E6C34;
    color: #F9D802; */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.footer-bottom {
    text-align: center;
    background: #102B1E;
    padding: 20px 0;
}
.footer-bottom p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

/* Blog / news & events */
.blog-section .section-title {
    text-align: center;
}
.search-category-box {
    background: #F5F5F5;
}
.social-media-share {
    display: flex;
}
.social-media-share a:not(:last-child) {
    padding-right: 10px;
}
.social-media-share a img {
    width: 25px;
    height: 25px;
}
.card-first-row,
.card-third-row {
    display: flex;
    justify-content: space-between;
}
.card-block {
    background: #F5F5F5;
    border-radius: 5px;
}
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.pagination a.active {
    background-color: #0E6C34;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* media quaries */

@media (max-width: 1200px) {
    .section-title,
    .section-sub-title {
        font-size: 50px;
        line-height: 60px; 
    }
    .coach-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-first-col {
        width: 30%;
    }
}

@media(max-width: 950px) {
    .hamburg-icon-div {
        display: block;
    }
    .nav-bar-div, .social-sharing {
        display: none;
    }
    .about-us-section,
    .coaching-section,
    .our-coaches-section,
    .footer-top {
        padding: 50px 50px;
    }
    .section-title,
    .section-sub-title {
        font-size: 40px;
        line-height: 60px; 
    }
    .coaching-card-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }   
    .footer-first-col {
        width: 100%;
        margin-bottom: 10%;
    }
    .footer-second-col {
        width: 100%;
        margin-bottom: 5%;
    }
    .footer-third-col {
        width: 100%;
    }
    .footer-third-col .btn-divs {
        display: flex;
        justify-content: space-between;
    }
    .login-btn-footer,
    .register-btn-footer {
        width: 30% !important;
    }
    .btn-divs .login-btn-footer {
        margin-bottom: 0 !important;
    }
    .heading-content .coach-name-div {
        font-weight: 700;
        font-size: 40px;
        color: #0E6C34;
    }
    .coach-description-div p {
        font-size: 20px;
    }
    .coach-image-div img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .about-us-img {
        display: none;
    }
    .coach-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-bottom p {
        padding: 10px 5px;
    }
    
}

@media(max-width: 575px) {
    .login-register-title-bar {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    .search-bar-title-bar {
        display: none;
    }
    .hero-video {
        height: 100vh;
    }
    .about-us-section,
    .coaching-section,
    .our-coaches-section,
    .footer-top {
        padding: 20px;
    }
    .section-title,
    .section-sub-title {
        font-size: 34px;
        line-height: 40px; 
    }
    .coaching-card-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .coaching-card-grid .coaching-card {
        margin: 10px auto;
    }
    .coach-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .coach-grid .coach-card {
        margin: 10px auto;
    }
    .inner-coaching-section {
        padding: 40px 10px;
    }
    .login-btn-footer,
    .register-btn-footer {
        width: 40% !important;
    }
    .coaches-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}