@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Iceberg&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.clear {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: .01em;
}

.container-fluid {
    padding: 0;
}

header {
    width: 100%;
}

/* title bar styling started */
.title-bar {
    position: absolute;
    display: flex;
    width: 100%;
    max-height:80px;
    background-color: #102B1E;
    padding: 20px 50px;
    z-index: 1;
}

.login-register-title-bar .login,
.login-register-title-bar .register {
    padding: 8px 20px;
    background-color: #FFDD02;
    border-radius: 8px;
    color: #0E6C34;
    font-weight: 500;
}

.login-register-title-bar .login:hover,
.login-register-title-bar .register:hover {
    background-color: #0E6C34;
    color: #FFDD02;
    font-size: 18px;
}

.search-box-background {
    background-color: #b4b2b2;
    padding: 10px 15px;
    border-radius: 4px;
}

.search-box-background .search-box {
    padding: 4px 6px;
    border-radius: 5px;
}

/* navigation bar styling started */
.navigation-bar {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #FFDD02;
    padding: 0 50px;
    z-index: 1;
}

.image-icon .ausway-logo {
    width: 100px;
    height: 100px;
}

.hamburg-icon-div {
    display: none;
}

.nav-item .nav-link {
    color: #0E6C34;
    font-weight: 500;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    font-size: 20px;
    color: #102B1E;
}

.hero-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video video {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 100px;
    height: 100%;
}

.about-us-section {
    padding: 50px 100px;
    background: linear-gradient(141deg, #49AB30 0%, rgba(73, 171, 48, 0.45) 75.08%, rgba(73, 171, 48, 0.00) 100%);
}

.coaching-section {
    padding: 50px 100px;
}

.section-title {
    color: #0E6C34;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px; 
}

.section-sub-title {
    color: #FFDD02;
    font-size: 60px;
    font-weight: 500;
}

.section-short-description {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    max-width: 500px;
}

.read-more-btn {
    border-radius: 50px;
    background: #F9D802;
    color: #0E6C34;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 20px;
    cursor: pointer;
    text-decoration: none;
    margin: auto 0;
}

.read-more-btn:hover {
    /* background: #0E6C34;
    color: #F9D802; */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.about-us-img {
    display: flex;
    align-items: center;
}

.about-us-section-img img {
    width: 500px;
}

.coaching-card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coaching-card-grid .coaching-card {
    height: auto;
    border: 2px solid #0E6C34;
    box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%;
    margin: 0 0 20px 0;
    padding-bottom: 1.25rem;
}

.coaching-card .card-title {
    color: #0E6C34;
    font-size: 30px;
    font-weight: 600;
}

.coaching-card .card-text {
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.coaching-card .card-btn {
    width: 80%;
    background-color: #0E6C34;
    border-radius: 50px;
    text-align: center;
    color: #FFDD02;
    margin: 0 auto;
}

.coaching-card img {
    height: 280px;
    object-fit: cover;
}

/* media quaries */

@media (max-width: 1200px) {
    .section-title,
    .section-sub-title {
        font-size: 50px;
        line-height: 60px; 
    }
}

@media(max-width: 950px) {
    .hamburg-icon-div {
        display: block;
    }
    .nav-bar-div, .social-sharing {
        display: none;
    }
    .about-us-section,
    .coaching-section {
        padding: 50px 50px;
    }
    .section-title,
    .section-sub-title {
        font-size: 40px;
        line-height: 60px; 
    }
    .coaching-card-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media (max-width: 767px) {
    .about-us-img {
        display: none;
    }
}

@media(max-width: 575px) {
    .login-register-title-bar {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    .search-bar-title-bar {
        display: none;
    }
    .hero-video {
        height: 100vh;
    }
    .about-us-section,
    .coaching-section {
        padding: 10px;
    }
    .section-title,
    .section-sub-title {
        font-size: 34px;
        line-height: 40px; 
    }
    .coaching-card-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .coaching-card-grid .coaching-card {
        margin: 10px auto;
    }
}